<div class="container set_center_outer">
  <div class="set_center_inner">
    <h2>プロフィールページ</h2>
    <p>お名前: <%= @user.name %></p>
    <p>誕生日: <%= @user.birthday %></p>
    <p>メールアドレス: <%= @user.email %></p>
  </div>
</div>